{% extends "s4tabitayVitrineBundle:Default:layout.html.twig" %}

{% block caroussel %}
    {% include "s4tabitayVitrineBundle:Default:caroussel.html.twig" %}
{% endblock %}
{% block content %}
    <!-- Contenue -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <!--Image Card-->
                  <div class="card hoverable">
                      <div class="card-image">
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                              <div class="mask waves-effect"></div>
                          </div>
                          <span class="card-title">Electromenager</span>
                      </div>
                      <div class="card-action">
                          <a>Voir les articles</a>
                      </div>
                  </div>
                </div>
                  <!--Image Card-->
                  <div class="col-md-4">
                  <!--Image Card-->
                  <div class="card hoverable">
                      <div class="card-image">
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                              <div class="mask waves-effect"></div>
                          </div>
                          <span class="card-title">Informatique</span>
                      </div>
                      <div class="card-action">
                          <a>Voir les articles</a>
                      </div>
                  </div>
                  <!--Image Card-->
                </div>
                  <div class="col-md-4">
                  <!--Image Card-->
                  <div class="card hoverable">
                      <div class="card-image">
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                              <div class="mask waves-effect"></div>
                          </div>
                          <span class="card-title">Pret-a-proter</span>
                      </div>
                      <div class="card-action">
                          <a>Voir les articles</a>
                      </div>
                  </div>
                  <!--Image Card-->
                </div>
              </div>
            </div>
        </div>
        <!-- /Contenue -->
{% endblock %}



