{# empty Twig template #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/s4tabitayvitrine/css/styleApp.css') }}">
    </head>
    <body>
        <header>
        {# On inclut le template "navigation" #} 
        {% include "s4tabitayVitrineBundle:partials:navigation.html.twig" %}
        <header>
            <main>
        {% block caroussel %}
        {% endblock %}
        {% block sidemenu %}
                {% include "s4tabitayVitrineBundle:partials:sideMenu.html.twig" %}
            {% endblock %}
        <div class="container">
            
            {% block content %}
            {% endblock %}
        </div>
        <main>

        {% include "s4tabitayVitrineBundle:partials:footer.html.twig" %}
        <!-- Compiled and minified JavaScript -->
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/s4tabitayvitrine/js/js.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </body>
</html>
