{# empty Twig template #}
{% extends "s4tabitayVitrineBundle:Default:layout.html.twig" %}

{% block caroussel %}
{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="row">
    {% for produit in produits %}
        
        
            <div class="card col m3 produit">
                <div class="card-content text-center">
                        <div class="row">
                            <a href=""><h5 class="product-title">{{ produit.name }}</h5></a>
                            <p>{{ produit.description }}</p>
                        </div>
                        <div class="price">
                            <p class="green-text regular-600">{{ produit.price }} $</p>
                        </div>
                        <div class="card-btn text-center">
                            <a href="{{ path('s4tabitay_vitrine_addArticle',{id:produit.id}) }}" class="btn btn-primary btn-sm waves-effect waves-light">Acheter</a>
                        </div>
                    </div>
                    
            </div>
        
    {% endfor %}
    </div>
    </div>
{% endblock %}