{# empty Twig template #}
{% block caroussel %}
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.native-instruments.com/typo3temp/pics/img-ce-background-komplete-10_overview_02_outstanding-sound-outstanding-value_2x_01-9697da858586d46833b3dbd30044c10a-d.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.native-instruments.com/typo3temp/pics/img-welcome-komplete_kontrol_welcome_2x_01-a9faab29c01b97dfa59887551bb27daf-d.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.elephorm.com/system/files/imagecache/thumb_focus_mediumscreen/formations/[training-dir]/visuel/tutoriel-Push2-elephorm.jpg"> <!-- random image -->
        
      </li>
    </ul>
  </div>
{% endblock %}