{# empty Twig template #}
<div class="row">
    <div class="col m3 offset-m8">
        <a href="{{ path('s4tabitay_vitrine_empty') }}">Vider le panier</a>
        <h4>TOTAL {{ prix }}€ TTC</h4>
        <small>HT : </small><br>
        <a href="{{ path('s4tabitay_vitrine_validerPanier') }}" class="col-md-offset-1 col-md-10 btn btn-default">Commander</a>
    </div>
</div>